{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idutilisateur</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">{{ utilisateur.id }}</a></td>
                <td>{{ utilisateur.iDUtilisateur }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
